
{% load filter_tags %}

<div>
  <table 
    class="display compact wheel_table" {% if not active %} data-order='[[ 0, "desc" ]]'{% endif %}>
    <thead>
      <tr>
        <th>Exp. Date</th>
        {% if all %}
          <th>User</th>
        {% endif %}
        <th>Account</th>
        <th>Last Transaction</th>
        <th>Ticker</th>
        {% if active %}
          <th>Last Price</th>
          <th>On Track</th>
        {% endif %}
        <th>Cost Basis</th>
        <th>Open Date</th>
        <th>Open Strike</th>
        <th>Profit{% if active %} (if exits){% endif %}</th>
        <th>Return Rate{% if active %} (if exits){% endif %}</th>
        <th>Annual Rate{% if active %} (if exits){% endif %}</th>
        <th>Wheel Details</th>
        {% if can_edit %}
          <th>Add Call</th>
          <th>Complete Wheel</th>
          <th>Edit Wheel</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in wheels %}
        <tr>
          <td data-order={{ row.expiration_date | date:"c" }}>
            {{ row.expiration_date | date:"M j" }}
            {% if row.expired %}
              <span class="badge badge-pill badge-warning">Expired</span>
            {% endif %}
          </td>
          {% if all %}
            <td>
              {{ row.user }}
            </td>
          {% endif %}
          <td>
            {{ row.account }}
          </td>
          <td>
            ${{ row.last_purchase.strike }} {{ row.last_purchase.call_or_put | call_or_put }}
          </td>
          <td>
            <a href="{{ row.stock_ticker.get_absolute_url }}">{{ row.stock_ticker }}</a> 
            {% if row.quantity > 1 %}
              <strong>({{ row.quantity}})</strong>
            {% endif %}
          </td>
          {% if active %}
            <td>
              ${{ row.current_price | floatformat:2 }}
            </td>
            <td>
              {% if row.on_track == 'Exit' %}
                <span class="badge badge-pill badge-success">{{row.on_track}}</span>
              {% elif row.on_track == 'Hold' %}
                <span class="badge badge-pill badge-warning">{{row.on_track}}</span>
              {% elif row.on_track == 'Under'%}
                <span class="badge badge-pill badge-danger">{{row.on_track}}</span>
              {% endif %}
            </td>
          {% endif %}
          <td>
            ${{ row.cost_basis }}
          </td>
          <td data-order={{ row.open_date | date:"c" }}>
            {{ row.open_date | date:"M j"}}
          </td>
          <td>
            ${{ row.open_strike }}
          </td>
          <td>
            ${{ row.profit_if_exits_here }}
          </td>
          <td>
            {{ row.decimal_rate_of_return | percentage }}
          </td>
          <td data-order={{ row.annualized_rate_of_return_if_exits_here }}>
            {{ row.annualized_rate_of_return_if_exits_here | floatformat:2 }}x
          </td>
          <td>
            <a type="button" class="btn btn-secondary btn-sm" href="{% url 'wheel-detail' pk=row.pk %}">Details</a>
          </td>
          {% if can_edit %}
            <td>
              <a type="button" class="btn btn-primary btn-sm" href="{% url 'purchase-create' wheel_id=row.pk %}">Call</a>
            </td>
            <td>
              {% if row.expired and row.on_track == 'Exit' %}
                <a type="button" class="btn btn-success btn-sm" href="{% url 'wheel-complete' pk=row.pk %}?next={{ request.path|urlencode }}">Complete</a>
              {% endif %}
            </td>
            <td>
              <a type="button" class="btn btn-info btn-sm" href="{% url 'wheel-update' pk=row.pk %}">Edit</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>