{% load filter_tags %}
<h2>Option Selling Call Choices</h2>
<p>When selling a call, hopefully you've picked a good stock, so you don't mind
holding onto the stock for awhile and continuing to reap premiums. Ideally the call lands
in the money, thus selling our stock, and we repeat the wheel from scratch. Therefore, the
only thing to maximize is annualized rate of return. By default we assume we need at least
a 40% chance of selling the stock successfully, since we don't want to hold the stock indefinately</p>
<p>Annualized rate of return is computed fairly bullish as (max_call_return * odds + (1 - odds)) ^ (252 / calendar_days). The assumes if you fail to sell the stock, you will be able to do something such that effectively get you a 1x return immediately. We use max call return assuming you just bought the stock on the market before making this call, so we avoid any profit/losses on the wheel when computing what to do here. However we make sure that the wheel as a whole will never go negative</p>
<p>If you want to be more bearish on the stock, then you'll want to maximum the odds you can get rid of the stock. This will cut into your gains, but will make sure you can repeat the
wheel process on a new stock quickly. In this strategy you would ignore annualized rate of return,
set the minimum odds to a fairly high number such as 70, then sort by calendar days to minimize
the days to expiry</p>
<div>
  <label for="min_itm_call">Minimum Odds Lose Stock %</label>
  <input type="text" id="min_itm_call" name="min_itm_call">
</div>
<div>
  <label for="avoid_negative_returns">Avoid Negative Returns</label>
  <input type="checkbox" id="avoid_negative_returns" name="avoid_negative_returns" checked>
</div>
<table class="table" id="option_detail_table">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Strike</th>
      <th>Premium</th>
      <th>Calendar Days To Expiration</th>
      <th>Odds Lose Stock</th>
      <th>Max Call Profit %</th>
      <th>Annualized Rate Of Return</th>
      <th>Wheel Total Max Return %</th>
    </tr>
  </thead>
  <tbody>
    {% for call_stat in call_stats %}
      <tr>
        <td>
          <a href="{{ call_stat.ticker.get_absolute_url }}">{{ call_stat.ticker }}</a> 
        </td>
        <td>
          {{ call_stat.strike }}
        </td>
        <td>
          {{ call_stat.price }}
        </td>
        <td data-order={{ call_stat.days_to_expiry }}>
          {{ call_stat.days_to_expiry }} ({{call_stat.expiration_date}})
          {% if call_stat.includes_earnings %}
            <span class="badge badge-pill badge-danger">Earnings</span>
          {% endif %}
        </td>
        <td>
          {{ call_stat.decimal_odds_out_of_the_money_implied | percentage }}
        </td>
        <td>
          {{ call_stat.call_max_profit_decimal | percentage }}
        </td>
        <td data-order={{ call_stat.annualized_rate_of_return_decimal }}>
          {{ call_stat.annualized_rate_of_return_decimal | floatformat:2 }}x
        </td>
        <td>
          {{ call_stat.wheel_total_max_profit_decimal | percentage }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>