{% load filter_tags %}
<h2>Option Selling Put Choices</h2>
<p>Typically you want to choose options that have a higher than 70% chance of being out of the money, since then you only have a 30% chance of actually acquiring the stock. Beyond that maximumizing the annualized rate of return is a good idea.</p>
<p>Annualized rate of return is computed fairly bullish as (max_return * odds + (1 - odds)) ^ (252 / calendar_days). This assumes that if you accidently acquire the stock you will be able to do something such that effectively get you a 1x return immediately.</p>
<label for="min_otm">Minimum Odds Out Of The Money %</label>
<input type="text" id="min_otm" name="min_otm">
<table class="table" id="option_detail_table">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Strike</th>
      <th>Premium</th>
      <th>Calendar Days To Expiration</th>
      <th>Odds Out Of The Money %</th>
      <th>Maximum Return %</th>
      <th>Annualized Rate Of Return</th>
    </tr>
  </thead>
  <tbody>
    {% for put_stat in put_stats %}
      <tr>
        <td>
          {{ put_stat.ticker }}
        </td>
        <td>
          {{ put_stat.strike }}
        </td>
        <td>
          {{ put_stat.price }}
        </td>
        <td data-order={{ put_stat.days_to_expiry }}>
          {{ put_stat.days_to_expiry }} ({{put_stat.expiration_date}})
        </td>
        <td>
          {{ put_stat.decimal_odds_out_of_the_money_implied | percentage }}
        </td>
        <td>
          {{ put_stat.max_profit_decimal | percentage }}
        </td>
        <td data-order={{ put_stat.annualized_rate_of_return_decimal }}>
          {{ put_stat.annualized_rate_of_return_decimal | floatformat:2 }}x
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>