{% extends "base_generic.html" %}

{% block content %}
  <h1>Global Put Options</h1>
  <div>Shows the put options on every stock in the database</div>
  <a href="{% url 'tickers' %}">Back to stock list</a>
  {% if permanently_unavailable is not None %}
    <div>This feature doesn't work on dev. Try on the real site.</div>
  {% elif unavailable is not None %}
    <div>Please wait while this is processing. Page will auto refresh in one minute</div>
    <div>
      <span id="timer">
        <span id="time">10</span>Seconds      
      </span>
    </div>
    <script>
      var counter = 60;
      var interval = setInterval(function() {
          counter--;
          // Display 'counter' wherever you want to display it.
          if (counter <= 0) {
              clearInterval(interval);
              $('#timer').html("<h3>Count down complete. Reloading</h3>");
              location.reload(); 
              return;
          } else {
            $('#time').text(counter);
          }
      }, 1000);
    </script>
  {% else %}
    {% include '_option_put_table.html' %}
  {% endif %}
{% endblock %}