{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
  <h1>Wheel: {{ option_wheel }}</h1>

  {% if earnings %}
    <div class="alert alert-{{earnings_variant}}">
      <strong>Next Earnings: </strong> {{ earnings | date:"M j" }}
    </div>
  {% else %}
    <div class="alert alert-warning">
      <strong>Next Earnings: </strong> Unknown
    </div>
  {% endif %}

  <p>
    <strong>Cost Basis:</strong> ${{ cost_basis }}
  </p>

  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>
  {% if call_stats is not None %}
    {% include '_option_call_table.html' %}
  {% endif %}
{% endblock %}