{% extends "base_generic.html" %}

{% block content %}
  <h1>My Wheels</h1>
  <br>
  <a type="button" class="btn btn-primary" href="{% url 'wheel-create' %}">Start New Wheel</a>
  <br>
  <br>

  <h2>Active</h2>
  {% if wheels.active_wheels %}
    {% include '_base_wheel_table.html' with wheels=wheels.active_wheels %}
  {% else %}
    <p>You have no active wheels</p>
  {% endif %}

  <h2>Completed</h2>
  {% if wheels.completed_wheels %}
    {% include '_base_wheel_table.html' with wheels=wheels.completed_wheels completed=True %}
  {% else %}
    <p>You have no completed wheels</p>
  {% endif %} 
{% endblock %}