{% extends "base_generic.html" %}

{% block content %}
  <h1>My Wheels</h1>
  <br>
  <a type="button" class="btn btn-primary" href="{% url 'wheel-create' %}">Start New Wheel</a>
  <br>
  <br>

  {% if wheels.expired_wheels %}
    <h2>
      Expired
      <span class="badge badge-pill badge-warning">Action required!</span>
    </h2>
      <ul>
        {% for wheel in wheels.expired_wheels %}
          <li>
            <a href="{{ wheel.get_absolute_url }}">{{ wheel }}</a>
          </li>
        {% endfor %}
      </ul>
  {% endif %}

  <h2>Active</h2>
  {% if wheels.active_wheels %}
    {% include '_base_wheel_table.html' with wheels=wheels.active_wheels %}
      <ul>
        {% for wheel in wheels.active_wheels %}
          <li>
            <a href="{{ wheel.get_absolute_url }}">{{ wheel }}</a>
          </li>
        {% endfor %}
      </ul>
  {% else %}
    <p>You have no active wheels</p>
  {% endif %}
  <h2>Completed</h2>
  {% if wheels.completed_wheels %}
      <ul>
        {% for wheel in wheels.completed_wheels %}
          <li>
            <a href="{{ wheel.get_absolute_url }}">{{ wheel }}</a>
          </li>
        {% endfor %}
      </ul>
  {% else %}
    <p>You have no completed wheels</p>
  {% endif %} 
{% endblock %}