{% extends "base_generic.html" %}

{% block content %}
  <h1>Stock Ticker List</h1>
  <a type="button" class="btn btn-primary" href="{% url 'ticker-create' %}">New Ticker</a>
  <br>
  <br>

  {% if stockticker_list %}
  <ul>
    {% for stockticker in stockticker_list %}
      <li>
        <a href="{{ stockticker.get_absolute_url }}">{{ stockticker.name }} ({{ stockticker.recommendation }})</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no stock tickers</p>
  {% endif %} 
{% endblock %}