{% extends "base_generic.html" %}

{% block content %}
  <h1>Stock Ticker: {{ stockticker.name }}</h1>
  <a href="{% url 'tickers' %}">All Tickers</a>
  <p><strong>Recommendation:</strong> {{ stockticker.recommendation }}</p>
  <p><strong>Current Price:</strong> {{ current_price | floatformat:2 }}</p>
  <ul>
    {% for put_stat in put_stats %}
      <li>
        {{ put_stat }}
      </li>
    {% endfor %}
  </ul>

  <a type="button" class="btn btn-primary" href="{% url 'ticker-update' pk=stockticker.pk %}">Edit</a>
  <a type="button" class="btn btn-danger" href="{% url 'ticker-delete' pk=stockticker.pk %}" variant="danger">Delete</a>
{% endblock %}
