{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
  <h1>Stock Ticker: {{ stockticker.name }}</h1>
  <p><a type="button" class="btn btn-primary" href="{% url 'tickers' %}">All Tickers</a></p>
  <p><a type="button" class="btn btn-primary" href="{% url 'wheel-create' %}">Start New Wheel</a></p>

  {% if earnings %}
    <div class="alert alert-{{earnings_variant}}">
      <strong>Next Earnings: </strong> {{ earnings | date:"M j" }}
    </div>
  {% else %}
    <div class="alert alert-warning">
      <strong>Next Earnings: </strong> Unknown
    </div>
  {% endif %}
  <p><strong>Recommendation:</strong> {{ stockticker.recommendation }}</p>
  <p><strong>Current Price:</strong> ${{ current_price | floatformat:2 }}</p>
  <p><strong>Total Wheels: </strong> {{ num_wheels }}</p>
  <a type="button" class="btn btn-primary" href="{% url 'ticker-update' pk=stockticker.pk %}">Edit</a>
  {% if not num_wheels %}
    <a type="button" class="btn btn-danger" href="{% url 'ticker-delete' pk=stockticker.pk %}" variant="danger">Delete</a>
  {% endif %}
  <br>
  {% include '_option_put_table.html' %}
{% endblock %}
